# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [13]:
import pandas as pd
import numpy as np

# Seu código aqui
pd.Series(data=[-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02])

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [14]:

# seu código aqui
pd.Series(data=[-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02], index=np.asarray(np.arange(1900,2021,20)))

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [15]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(data=dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [16]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    97.988758  113.307829   91.565437
1    88.562070  105.247452  110.692051
2    91.186319  114.230963  102.805378
3    93.910072   95.802579  100.703251
4    91.645949   98.672627  100.644288
5    96.221256   87.252013   97.148361
6    93.181702  110.883370   87.221130
7    99.096113  100.818300   99.743030
8   103.447753   85.945333  109.093218
9   115.145358  117.277930   87.734063
10   87.825246   96.902863  111.677331
11   92.677225  108.702751  108.647761
12   84.720736  103.262332  105.143633
13   83.314467   91.442262   87.679896
14   92.452013  104.719873   95.432386
15   89.971151  110.492640   98.724850
16  103.456268  112.795466  101.862221
17  108.363935   97.125656  102.872692
18   72.279971   82.199540   99.095465
19   99.864017  117.122495  110.780617

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [34]:
#seu código aqui
df = pd.DataFrame(arr, index=list(range(1, 21)), columns=['x1', 'x2', 'x3'])
df

            x1          x2          x3
1    97.988758  113.307829   91.565437
2    88.562070  105.247452  110.692051
3    91.186319  114.230963  102.805378
4    93.910072   95.802579  100.703251
5    91.645949   98.672627  100.644288
6    96.221256   87.252013   97.148361
7    93.181702  110.883370   87.221130
8    99.096113  100.818300   99.743030
9   103.447753   85.945333  109.093218
10  115.145358  117.277930   87.734063
11   87.825246   96.902863  111.677331
12   92.677225  108.702751  108.647761
13   84.720736  103.262332  105.143633
14   83.314467   91.442262   87.679896
15   92.452013  104.719873   95.432386
16   89.971151  110.492640   98.724850
17  103.456268  112.795466  101.862221
18  108.363935   97.125656  102.872692
19   72.279971   82.199540   99.095465
20   99.864017  117.122495  110.780617

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [44]:
# seu código aqui
df['media'] = df.mean(axis=1)
df

            x1          x2          x3       media
1    97.988758  113.307829   91.565437  100.954008
2    88.562070  105.247452  110.692051  101.500524
3    91.186319  114.230963  102.805378  102.740887
4    93.910072   95.802579  100.703251   96.805301
5    91.645949   98.672627  100.644288   96.987621
6    96.221256   87.252013   97.148361   93.540543
7    93.181702  110.883370   87.221130   97.095400
8    99.096113  100.818300   99.743030   99.885815
9   103.447753   85.945333  109.093218   99.495435
10  115.145358  117.277930   87.734063  106.719117
11   87.825246   96.902863  111.677331   98.801813
12   92.677225  108.702751  108.647761  103.342579
13   84.720736  103.262332  105.143633   97.708901
14   83.314467   91.442262   87.679896   87.478875
15   92.452013  104.719873   95.432386   97.534757
16   89.971151  110.492640   98.724850   99.729547
17  103.456268  112.795466  101.862221  106.037985
18  108.363935   97.125656  102.872692  102.787428
19   72.279971   82.199540   99.095465   84.524992
20   99.864017  117.122495  110.780617  109.255710

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [45]:
# seu código aqui
df['log_media'] = np.log(df['media'])
df

            x1          x2          x3       media  log_media
1    97.988758  113.307829   91.565437  100.954008   4.614665
2    88.562070  105.247452  110.692051  101.500524   4.620064
3    91.186319  114.230963  102.805378  102.740887   4.632210
4    93.910072   95.802579  100.703251   96.805301   4.572702
5    91.645949   98.672627  100.644288   96.987621   4.574583
6    96.221256   87.252013   97.148361   93.540543   4.538395
7    93.181702  110.883370   87.221130   97.095400   4.575694
8    99.096113  100.818300   99.743030   99.885815   4.604028
9   103.447753   85.945333  109.093218   99.495435   4.600112
10  115.145358  117.277930   87.734063  106.719117   4.670200
11   87.825246   96.902863  111.677331   98.801813   4.593116
12   92.677225  108.702751  108.647761  103.342579   4.638049
13   84.720736  103.262332  105.143633   97.708901   4.581993
14   83.314467   91.442262   87.679896   87.478875   4.471397
15   92.452013  104.719873   95.432386   97.534757   4.580209
16   89.971151  110.492640   98.724850   99.729547   4.602462
17  103.456268  112.795466  101.862221  106.037985   4.663797
18  108.363935   97.125656  102.872692  102.787428   4.632663
19   72.279971   82.199540   99.095465   84.524992   4.437047
20   99.864017  117.122495  110.780617  109.255710   4.693691